.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d3d0f;
    padding: 20px;
    font-family: 'Georgia', serif;
    font-size: 1.2rem;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid #e7934e;
}

.cabecera nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.cabecera nav ul li a {
    text-decoration: none;
    color: #aa3333;
    padding: 10px 15px;
    background-color: #a85b2f;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.cabecera nav ul li a:hover {
    background-color: #d68f32;
    color: #000;
}
.cont1 .carousel {
    max-width: 900px; /* Puedes ajustar según lo necesites */
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.pie {
    padding: 20px;
    background: #6d3d0f; /* fondo elegante */
    color: white;
    text-align: center;
    margin-top: 30px;
    font-family: 'Georgia', serif;
    font-size: 1rem;
    border-top: 4px solid #e7934e;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #a85b2f; /* tono marrón bonito */
    border-radius: 50%;
    padding: 20px;
    background-size: 60% 60%;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: #e7934e; /* color al hacer hover */
}
.carousel-indicators button {
    background-color: #ad6929;
}

.carousel-indicators .active {
    background-color: #ffffff;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #444;
    margin: 0;
    padding: 20px;
}
.cont1 {
    max-width: 900px;
    margin: 0 auto;
}
.accordion-button {
    background-color: #ff9900;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid transparent;
    transition: background-color 0.3s, transform 0.3s ease;
}
.accordion-button:hover {
    background-color: #ca941e;
    transform: scale(1.05);
}
.accordion-button:not(.collapsed) {
    background-color: #9e640d;
    color: white;
    transform: scale(1.05);
}
.accordion-body {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.accordion-body:hover {
    background-color: #e9ecef;
}
.accordion-item + .accordion-item {
    margin-top: 15px;
}
.accordion-header {
    border-bottom: 3px solid #6c757d;
}
h2 {
    font-size: 26px;
    color: #ffa600;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}
h2:hover {
    color: #b16e17;
}
strong {
    color: #333;
    transition: color 0.3s ease;
}
strong:hover {
    color: #a85a01;
}


